html{
    font-family:verdana;
    background-color:#343E3D;
  } 

  .logo {
    max-height: 80px;    
  }

  .normalbutton:link, .normalbutton:visited {
      background-color:#607466;
      border-radius:15px;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display:flex;
      transition-duration: 0.4s;
      margin-top:30px;
    }
    
  .normalbutton:hover, .normalbutton:active {
      background-color: #FCA311;
      margin-top:30px;
  }
  
  .table-container {
    display: flex;
    justify-content: center; 
  }
  
  table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom:20px;
    border-radius:10px;
    overflow: hidden;
      
  }
  .title{
    
    font-family: Brush Script MT;
    font-size: 37px;
  }
  
  td,th{
    border: 5px solid #FCA311;
    padding: 10px;
    text-align: center;
    background-color:#607466;
    color:#FFDDD2;
    
  }
  .titolo_prod{
    font-weight:bold;
    color:#FFDDD2;
  }
  .prod-img{
    height:180px;
    width:150px;
    border-radius:50px;
  }
  h2{
    color:#343E3D;
    
  }
  form{
    text-align: center;
    background-color:#607466;
    margin-top: 40px;
    border-radius: 25px;
    color:#FFDDD2;
    margin: auto;
  }
  input{
    margin-top: 20px;
    border-radius: 5px;
    align-self: center;
    border: none;
    
  }
  .sub{
    margin-bottom: 10px;
    transition-duration: 0.4s;
    background-color: #C6EBBE;
    width: 100px;
    height: 40px;
    font-size: 15px;
    }
    
  .sub:hover {
    background-color: #FCA311; /* Green */
    color: white;
  }
  
  body{
    align-items: center;
  }
  .textfield
  {
    width: 150px;
    height: 20px;
  }
 
  .tform{
    margin-left: auto;
    width: 800px;
  }
  .lform{
    width: 400px;
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C6EBBE;
    border-radius: 500px;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #FCA311;
 
  }
  
  li.dropdown {
    display: inline-block;
    margin-top:30px;
    float: right;
    margin-right:50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .acc_button{
   float: right;
   margin-right: 20px;
  }
  .saluto{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
  }
  .error{
    color: rgb(255, 119, 119);
   
    text-align: center;
  }